@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

body {
    background-color: #E2E2F4;
}
header { 
    background-color: #FCFCFF;
    height:80px;
    font-size: 18px;
    line-height: 5;
    font-family: 'Poppins';
} 

#logo {
    margin-top: 20px;
    margin-left: 30px;

}

#opcoes {
    margin-left: 350px;
    margin-top: -100px;
    color: #202142;
    font-size: 16px;
}

span {
    margin-left: 15px;
}

#notificacoes{
    margin-left: 900px;
}

#avatar {
    margin-left: 1000px;
}

#upload {
    
    width: 130px;
    height: 50px;
    border-radius: 7px;
    margin-left: 1050px;
    margin-top: 5px;
    background-color: #202142;
    color: #FFFFFF;

}

#upload-button {
    position: absolute;
    margin-left: -40px;
    margin-top: 7px;
}

#upload-text{
    margin-left: 20px;
}

#notificacoes {
    position: absolute;
    margin-top: -65px;
}

#avatar {
    position: absolute;
    margin-top: -70px;
    margin-left: 965px;
}

#up {
    position: absolute;
    margin-top: -85px;
    margin-left: -20px;
}

main {
    height: 830px;
    background-color: #FFFFFF;
    margin-top: -21px;
}

h1 {
    
    margin-left: 130px;
    padding-top: 60px;
    margin-bottom: -15px;
}

li {
    list-style-type: none;
    padding-top: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #202142;
    
}

ul {
    margin-left: 90px;
    
}

.meio {
    position: absolute;
    margin-left: 450px;
    margin-top: -205px;
}

h2 {
    margin-bottom: 30px;
}

.email {
    margin-left: 5px;
    font-weight: bold;
}

.change {
    margin-left: 400px;
    margin-top: -40px;
    text-decoration: underline;
    color: #201CCD;
}

h3 {
    margin-bottom: 20px;
}

.password {
    margin-top: 6px;
}

.hide {
    margin-left: 425px;
    margin-top: -40px;
    text-decoration: underline;
    color: #201CCD;
}

.current {
    position: absolute;
    margin-left: 235px;
    margin-top: 0px;
}

input {
    position: absolute;
    width: 190px;
    height: 47px;
    border-width: 1px;
    border-color: #C3C3E4;
    border-radius: 6px; 
    padding: 0px;
    margin: 0px;
}

.new {
    position: absolute;
}

.senha {
    margin-top: 55px;
}

#reset {
    margin-top: 155px;
}

.reset {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
    color: #201CCD;
}

.save {
    width: 130px;
    height: 45px;
    border-radius: 7px;
    border-width: 1px;
    color: white;
    background-color: #202142;
    margin-top: 10px;

}

#delete {
    margin-top: 60px;
}

.i-want{
    color: #EE4878;
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Merriweather';
    font-weight:900;
    color: #202142;
}

p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

.senhas {
    font-family: 'Mulish';
    font-weight: 600;
}

#selecionado {
    
    margin-top: 25px;
    margin-left: -5px;
    width: 120px;
    height: 35px;
    text-align: left;
    border-radius: 15px;
    border-width: 1px;
    background-color: #FCFCFF;
    border-color: #EFEFFF;
}

.linha-vertical {
    position: absolute;
    height: 320px;
    border-right: 1px solid #EFEFFF;
    margin-left: -70px;
    margin-top: -755px;
}

.linha-horizontal-cima {
    position: absolute;
    width: 455px;
    border-bottom: 1px solid #EFEFFF;
    margin-top: -510px;
    
}

.linha-horizontal-baixo {
    position: absolute;
    width: 455px;
    border-bottom: 1px solid #EFEFFF;
    margin-top: -185px;
}